body
{
    background-color: gray;
    background-image: url(/w4b-final-project/images/Contact\ background.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    width: 100%;
    height: 55px;
    background-color: black;
    text-align: right;
    top: 0;

}

nav ul{
   float: right;
   list-style-type: none; 
   
}

nav ul li{
    display: inline-block;
    margin: 15px 40px;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: yellow;
}
.logo{
    float: left;
    margin: 3px 5px;
}
.contactform{
    text-align: center;
} 
footer{
    width: 100%;
    height: 95px;
    background-color: black;
    bottom: 0%;
    padding-top:  30px;
    
    

    

}
.column{
    float: left;
    width: 25%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.footerwriting{
    color: white;
    text-align: center;
    font-size: 27px;
}
