body{
    background-color: gray;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    width: 100%;
    height: 55px;
    background-color: black;
    text-align: right;
    top: 0;

}

nav ul{
   float: right;
   list-style-type: none; 
   
}

nav ul li{
    display: inline-block;
    margin: 15px 40px;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: yellow;
}
main{
    width: 100%;
    height: 200px;
    background-image: url(/w4b-final-project/images/main\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    font-family: 'Oswald', sans-serif;


}
.herotext{
    color: rgb(197, 165, 4);
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 35%;
    position: sticky;
   
}
.logo{
    float: left;
    margin: 3px 5px;

}
footer{
    width: 100%;
    height: 75px;
    background-color: black;
    position: absolute;
    bottom: 0%;
    text-align: center;
}
.footerwriting{
    color: white;
    text-align: center;
    font-size: 27px;
}
.fa-youtube{
    color: white;
    text-align: center;
   margin: 0 auto;
}




   
    

